// Variables
//------------------------------------------------------
$button-normal:                  $global-color-normal !default;
$button-default:                 $global-color-default !default;
$button-primary:                 $global-color-primary !default;
$button-success:                 $global-color-success !default;
$button-danger:                  $global-color-danger !default;
$button-warning:                 $global-color-warning !default;
$button-info:                    $global-color-info !default;

$button-normal-hover:            $button-normal !default;
$button-default-hover:           $button-default !default;
$button-primary-hover:           $button-primary !default;
$button-success-hover:           $button-success !default;
$button-danger-hover:            $button-danger !default;
$button-warning-hover:           $button-warning !default;
$button-info-hover:              $button-info !default;

$button-font-color-dark:         $global-font-color !default;
$button-font-color-light:        $global-font-color-light !default;

$button-opacity:                 45 !default;
$button-shadow:                  inset 0 1px 2px rgba(0, 0, 0, .125) !default;
$button-trans-background:		 transparent;

// Exports
//------------------------------------------------------

@include exports("button") {

  /**
   * button
   * --------------------------------------------------
   */
  .btn {
	background-color: $button-trans-background;
 	color: $button-normal;
   	border-color: $button-normal;
   	@include radius();

    &,
    &.disabled, 
    &[disabled] {
        border-color: $button-normal;
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $button-font-color-dark;
        border-color: $button-normal-hover;
        background-color: $button-normal-hover; 
        outline: none !important;     
    }
    &:active,
    &.active {
        @include box-shadow($value: $button-shadow);
    }
    &.disabled, 
    &[disabled] {
        @include opacity($opacity: $button-opacity, $filter: true);
    }

    @at-root &-link {
		&,
		&:hover, 
		&:focus, 
		&:active, 
		&.active,
		&.disabled,
		&[disabled] {
			color: $button-default;
			border-color: transparent;
			@include box-shadow($value: none);
		}
		&:hover, 
		&:focus {
			text-decoration: underline;
			background-color: transparent;
			color: $button-default;
		}
    }

    @at-root &-default {
		color: $button-default;
        border-color: $button-default; 

        &:hover, 
        &:focus,
        &:active, 
        &.active {
			color: $button-font-color-light;
            border-color: $button-default-hover;
            background-color: $button-default-hover;         
        } 
        &,
        &.disabled,
        &[disabled] {
            border-color: $button-default;
        }
    }
    @at-root .open .dropdown-toggle.btn-default {
        border-color: $button-default-hover;
        background-color: $button-default-hover;      
		color: $button-font-color-light;
    }

    @at-root &-primary {
		&, 
		&:active, 
		&.active,
		&.disabled,
		&[disabled] {
			color: $button-primary;
			border-color: $button-primary;
		}
		&:hover, 
		&:focus {
			color: $button-font-color-light;
			border-color: $button-primary-hover;
			background-color: $button-primary-hover;         
		}
    }
    @at-root .open .dropdown-toggle.btn-primary {
        border-color: $button-primary-hover;
        background-color: $button-primary-hover;      
    }

    @at-root &-info {
		&, 
		&:active, 
		&.active, 
		&.disabled,
		&[disabled] {
			color: $button-info;
			border-color: $button-info;
		}
		&:hover, 
		&:focus {
			color: $button-font-color-light;
			border-color: $button-info-hover;
			background-color: $button-info-hover;           
		}
    }
    @at-root .open .dropdown-toggle.btn-info {
        border-color: $button-info-hover;
        background-color: $button-info-hover;      
    }

    @at-root &-success {
		&, 
		&:active, 
		&.active, 
		&.disabled,
		&[disabled] {
			color: $button-success;
			border-color: $button-success;
		}
		&:hover, 
		&:focus {
			color: $button-font-color-light;
			border-color: $button-success-hover;
			background-color: $button-success-hover;           
		}
    }
    @at-root .open .dropdown-toggle.btn-success {
        border-color: $button-success-hover;
        background-color: $button-success-hover;      
    }

    @at-root &-warning {
		&, 
		&:active, 
		&.active, 
		&.disabled,
		&[disabled] {
			color: $button-warning;
			border-color: $button-warning;
		}
		&:hover, 
		&:focus {
			color: $button-font-color-light;
			border-color: $button-warning-hover;
			background-color: $button-warning-hover;          
		}
    }
    @at-root .open .dropdown-toggle.btn-warning {
        border-color: $button-warning-hover;
        background-color: $button-warning-hover;      
    }

    @at-root &-danger {
		&, 
		&:active, 
		&.active, 
		&.disabled,
		&[disabled],
		.open .dropdown-toggle.btn {
			color: $button-danger;
			border-color: $button-danger;
		}
		&:hover, 
		&:focus {
			color: $button-font-color-light;
			border-color: $button-danger-hover;
			background-color: $button-danger-hover;           
		}
    }
    @at-root .open .dropdown-toggle.btn-danger {
        border-color: $button-danger-hover;
        background-color: $button-danger-hover;      
    }
  }
}


