@import "../../../bootflat/scss/bootflat/global";

$global-color-normal:                  $mediumgray-light !global;
$global-color-default:                 $darkgray-dark !global;
$global-color-primary:                 $aqua-dark !global;
$global-color-success:                 $grass-dark !global;
$global-color-danger:                  $grapefruit-dark !global;
$global-color-warning:                 $sunflower-dark !global;
$global-color-info:                    $mint-dark !global;

$global-font-color:				$darkgray-dark !global;
$global-border-color:			$lightgray-dark !global;
$global-border-radius:			4px !global;
$global-border-style:			solid !global;
$global-border-width:			1px !global;
