// Variables
//------------------------------------------------------
$label-normal:                  $global-color-normal !default;
$label-default:                 $global-color-default !default;
$label-primary:                 $global-color-primary !default;
$label-success:                 $global-color-success !default;
$label-danger:                  $global-color-danger !default;
$label-warning:                 $global-color-warning !default;
$label-info:                    $global-color-info !default;

// Exports
//------------------------------------------------------

@include exports("label-badge") {

  /**
   * labels and badges
   * --------------------------------------------------
   */
  .label,
  .badge {
	border-width: 1px;
	border-style: solid;
	border-color: $label-normal;
	color: $label-normal;
    background-color: transparent;
  }

  .label-default,
  .badge-default {
    border-color: $label-default;
    color: $label-default;
  }

  .label-primary,
  .badge-primary {
    border-color: $label-primary;
    color: $label-primary;
  }

  .label-success,
  .badge-success {
    border-color: $label-success;
    color: $label-success;
  }

  .label-danger,
  .badge-danger {
    border-color: $label-danger;
    color: $label-danger;
  }

  .label-warning,
  .badge-warning {
    border-color: $label-warning;
    color: $label-warning;
  }

  .label-info,
  .badge-info {
    border-color: $label-info;
    color: $label-info;
  }
}


