// Variables
//------------------------------------------------------
$popover-background-color:               $white !default;
$popover-font-color:                     $global-font-color !default;
$popover-title-font-color:               $global-font-color !default;
$popover-border-color:					 $popover-font-color !default;


// Exports
//------------------------------------------------------

@include exports("popover") {

  /**
   * popover
   * --------------------------------------------------
   */

  .popover {
      background-color: $popover-background-color;
      color: $popover-font-color;
      border-color: $popover-border-color;

      @at-root &-title {
          font-weight: bold;
          color: $popover-title-font-color;
          background-color: transparent;
          border-bottom: $global-border-width $global-border-style $popover-border-color;
      }
      &.top .arrow,
      &.top .arrow:after {
          border-top-color: $popover-border-color;
      }
      &.right .arrow,
      &.right .arrow:after {
          border-right-color: $popover-border-color;
      }
      &.bottom .arrow,
      &.bottom .arrow:after {
          border-bottom-color: $popover-border-color;
      }
      &.left .arrow,
      &.left .arrow:after {
          border-left-color: $popover-border-color;
      }
  }

}


