// Variables
//------------------------------------------------------
$tooltip-background-color:               $white !default;
$tooltip-font-color:                     $global-font-color !default;
$tooltip-border-color:					 $tooltip-font-color !default;


// Exports
//------------------------------------------------------

@include exports("tooltip") {

  /**
   * tooltip
   * --------------------------------------------------
   */

  .tooltip {
    @at-root &-inner {
        color: $tooltip-font-color;
        background-color: $tooltip-background-color;
		border: $global-border-width $global-border-style $tooltip-border-color;
		@include box-shadow($value: 0 5px 10px rgba(0, 0, 0, 0.2));
    }
    &.top &-arrow,
    &.top-left &-arrow,
    &.top-right &-arrow {
        border-top-color: $tooltip-border-color;
    }
    &.right &-arrow {
        border-right-color: $tooltip-border-color;
    }
    &.left &-arrow {
        border-left-color: $tooltip-border-color;
    }
    &.bottom &-arrow,
    &.bottom-left &-arrow, 
    &.bottom-right &-arrow {
        border-bottom-color: $tooltip-border-color;
    }
  }

}


