/**
 * button
 * --------------------------------------------------
 */
.btn, .btn.btn-default, .btn.btn-primary, .btn.btn-success, .btn.btn-danger, .btn.btn-warning, .btn.btn-info, .btn.btn-normal {
  background-color: transparent;
  color: #434A54; }
  .btn.btn-default {
    border-color: #434A54; }
    .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default.active {
      border-color: #FFF;
      background-color: #434A54;
      color: #FFF; }
  .btn.btn-primary {
    border-color: #3BAFDA; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active {
      border-color: #FFF;
      background-color: #3BAFDA;
      color: #FFF; }
  .btn.btn-success {
    border-color: #8CC152; }
    .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active {
      border-color: #FFF;
      background-color: #8CC152;
      color: #FFF; }
  .btn.btn-danger {
    border-color: #DA4453; }
    .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active {
      border-color: #FFF;
      background-color: #DA4453;
      color: #FFF; }
  .btn.btn-warning {
    border-color: #F6BB42; }
    .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active {
      border-color: #FFF;
      background-color: #F6BB42;
      color: #FFF; }
  .btn.btn-info {
    border-color: #37BC9B; }
    .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info.active {
      border-color: #FFF;
      background-color: #37BC9B;
      color: #FFF; }
  .btn.btn-normal {
    border-color: #434A54; }
    .btn.btn-normal:hover, .btn.btn-normal:focus, .btn.btn-normal:active, .btn.btn-normal.active {
      border-color: #FFF;
      background-color: #434A54;
      color: #FFF; }
  .open .dropdown-toggle.btn-default {
    border-color: #FFF;
    background-color: #434A54; }

/**
 * button-group
 * --------------------------------------------------
 */
.btn-group .btn, .btn-group .btn:first-child {
  border-left-color: #434A54; }
.btn-group.open .btn-default.dropdown-toggle, .btn-group .btn-default:first-child, .btn-group .btn-default:focus, .btn-group .btn-default:active, .btn-group .btn-default.active {
  border-left-color: #FFF; }
.btn-group .btn-primary, .btn-group .btn-primary:first-child, .btn-group .btn-primary:focus, .btn-group .btn-primary:active, .btn-group .btn-primary.active {
  border-left-color: #3BAFDA; }
.btn-group .btn-success, .btn-group .btn-success:first-child, .btn-group .btn-success:focus, .btn-group .btn-success:active, .btn-group .btn-success.active {
  border-left-color: #8CC152; }
.btn-group .btn-warning, .btn-group .btn-warning:first-child, .btn-group .btn-warning:focus, .btn-group .btn-warning:active, .btn-group .btn-warning.active {
  border-left-color: #F6BB42; }
.btn-group .btn-danger, .btn-group .btn-danger:first-child, .btn-group .btn-danger:focus, .btn-group .btn-danger:active, .btn-group .btn-danger.active {
  border-left-color: #DA4453; }
.btn-group .btn-info, .btn-group .btn-info:first-child, .btn-group .btn-info:focus, .btn-group .btn-info:active, .btn-group .btn-info.active {
  border-left-color: #37BC9B; }

.btn-group-vertical .btn, .btn-group-vertical .btn-group .btn-primary {
  border-top-color: #434A54 !important; }
.btn-group-vertical .btn-primary, .btn-group-vertical .btn-primary:focus, .btn-group-vertical .btn-primary:active, .btn-group-vertical .btn-primary.active, .btn-group-vertical .btn-group .btn-primary {
  border-top-color: #3BAFDA !important; }
.btn-group-vertical .btn-success, .btn-group-vertical .btn-success:focus, .btn-group-vertical .btn-success:active, .btn-group-vertical .btn-success.active, .btn-group-vertical .btn-group .btn-success {
  border-top-color: #8CC152 !important; }
.btn-group-vertical .btn-warning, .btn-group-vertical .btn-warning:focus, .btn-group-vertical .btn-warning:active, .btn-group-vertical .btn-warning.active, .btn-group-vertical .btn-group .btn-warning {
  border-top-color: #F6BB42 !important; }
.btn-group-vertical .btn-danger, .btn-group-vertical .btn-danger:focus, .btn-group-vertical .btn-danger:active, .btn-group-vertical .btn-danger.active, .btn-group-vertical .btn-group .btn-danger {
  border-top-color: #DA4453 !important; }
.btn-group-vertical .btn-info, .btn-group-vertical .btn-info:focus, .btn-group-vertical .btn-info:active, .btn-group-vertical .btn-info.active, .btn-group-vertical .btn-group .btn-info {
  border-top-color: #37BC9B !important; }
.btn-group-vertical .btn:not(.btn-default):first-child, .btn-group-vertical .btn-primary:first-child, .btn-group-vertical .btn-success:first-child, .btn-group-vertical .btn-warning:first-child, .btn-group-vertical .btn-danger:first-child, .btn-group-vertical .btn-info:first-child {
  border-top: 1px solid; }

/**
 * popover
 * --------------------------------------------------
 */
.popover {
  background-color: #FFF;
  color: #434A54;
  border-color: #FFF; }
  .popover-title {
    color: #434A54;
    border-bottom: 1px solid #E6E9ED;
    padding-bottom: 8px; }
  .popover.top .arrow, .popover.top .arrow:after {
    border-top-color: #FFF; }
  .popover.right .arrow, .popover.right .arrow:after {
    border-right-color: #FFF; }
  .popover.bottom .arrow, .popover.bottom .arrow:after {
    border-bottom-color: #FFF; }
  .popover.left .arrow, .popover.left .arrow:after {
    border-left-color: #FFF; }

/**
 * breadcrumb
 * --------------------------------------------------
 */
.breadcrumb {
  color: #434A54;
  background-color: #FFF; }
  .breadcrumb > .active {
    color: #434A54; }
  .breadcrumb a {
    color: #434A54; }

.breadcrumb-arrow {
  background-color: #FFF; }
  .breadcrumb-arrow li + li:before {
    padding: 0 5px;
    content: "> ";
    color: #434A54; }
  .breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    padding: 0 10px; }
  .breadcrumb-arrow li a {
    border: 1px solid transparent;
    color: #434A54;
    background-color: transparent; }
  .breadcrumb-arrow li a:before {
    border-left-style: none; }
  .breadcrumb-arrow li a:after {
    border-left: 0px none; }
  .breadcrumb-arrow li a:hover, .breadcrumb-arrow li a:focus {
    background-color: transparent;
    border: 1px solid transparent;
    text-decoration: underline; }
  .breadcrumb-arrow li a:hover:before, .breadcrumb-arrow li a:focus:before {
    border-left-color: transparent; }
  .breadcrumb-arrow li a:active {
    background-color: transparent;
    border: 1px solid transparent; }
  .breadcrumb-arrow li a:active:before, .breadcrumb-arrow li a:active:after {
    border-left-color: transparent; }
  .breadcrumb-arrow li span {
    color: #434A54; }

/**
 * pagination
 * --------------------------------------------------
 */
.pagination > li > a, .pagination > li > span {
  color: #434A54;
  background-color: #FFF;
  border-color: #E6E9ED; }
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #FFF;
  background-color: #434A54;
  border-color: #434A54; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #FFF;
  background-color: #434A54;
  border-color: #434A54; }
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #E6E9ED;
  background-color: #FFF;
  border-color: #E6E9ED; }

.selecter {
  /* Open */
  /* 'Cover' Positioning */
  /* 'Bottom' Positioning */
  /* 'Bottom' + 'Cover' Positioning */
  /* Multiple Select */
  /* 'Disabled' State */ }
  .selecter .selecter-selected {
    background-color: #FFF;
    border: 1px solid #AAB2BD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .selecter .selecter-options {
    border: 1px solid #AAB2BD;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    background-color: #FFF; }
  .selecter .selecter-group {
    border-bottom: 1px solid #AAB2BD;
    color: #AAB2BD;
    background-color: #F5F7FA; }
  .selecter .selecter-item {
    background-color: #FFF;
    border-bottom: 1px solid #AAB2BD; }
    .selecter .selecter-item.selected {
      color: #FFF;
      border-bottom-color: #434A54;
      background-color: #434A54; }
    .selecter .selecter-item.disabled {
      color: #AAB2BD; }
    .selecter .selecter-item:last-child {
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px; }
  .selecter .selecter-item:hover {
    background-color: #E6E9ED; }
  .selecter .selecter-item.selected:hover {
    background-color: #434A54; }
  .selecter .selecter-item.disabled:hover, .selecter:hover .selecter-selected, .selecter.disabled .selecter-item:hover {
    background-color: #FFF; }
  .selecter.open .selecter-selected {
    border: 1px solid #434A54;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
  .selecter.open .selecter-selected, .selecter.focus .selecter-selected {
    background-color: #FFF; }
  .selecter.cover .selecter-options {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    .selecter.cover .selecter-options .selecter-item.first {
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0; }
  .selecter.cover.open .selecter-selected {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
  .selecter.bottom.open .selecter-selected {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px; }
  .selecter.bottom.open .selecter-options {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
  .selecter.bottom.cover.open .selecter-selected, .selecter.bottom.cover.open .selecter-options {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .selecter.multiple .selecter-options {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .selecter.disabled .selecter-selected {
    background-color: #E6E9ED;
    border-color: #E6E9ED;
    color: #AAB2BD; }
  .selecter.disabled .selecter-options {
    background-color: #E6E9ED;
    border-color: #E6E9ED; }
  .selecter.disabled .selecter-group, .selecter.disabled .selecter-item {
    background-color: #E6E9ED;
    border-color: #AAB2BD;
    color: #AAB2BD; }
  .selecter.disabled .selecter-item.selected {
    background-color: #434A54;
    color: #FFF; }

.navbar-default {
  background-color: #FFF;
  border-color: #E6E9ED; }
.navbar-default .navbar-brand, .navbar-default .navbar-link, .navbar-default .btn-link {
  color: #434A54; }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-link:hover, .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
  color: #FFF;
  background-color: #434A54; }
.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
  color: #434A54; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: #434A54; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #434A54; }
.navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:focus, .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
  color: #ebebeb;
  background-color: transparent; }
.navbar-default .navbar-toggle {
  border-color: #d9d9d9;
  background-color: #d9d9d9; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  border-color: #e6e6e6;
  background-color: #e6e6e6; }
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #434A54; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #FFF;
  background-color: #434A54; }
@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #434A54; }
  .navbar-default .navbar-nav .open .dropdown-menu > .divider {
    background-color: #434A54; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d9d9d9; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #434A54;
    background-color: #434A54; }
  .navbar-default .navbar-nav .open .dropdown-menu > .dropdown-header {
    color: #d9d9d9; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #e6e6e6; } }

.navbar-inverse {
  background-color: #434A54;
  border-color: #E6E9ED; }
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-link, .navbar-inverse .btn-link {
  color: #FFF; }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-link:hover, .navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #434A54;
  background-color: #FFF; }
.navbar-inverse .navbar-text, .navbar-inverse .navbar-btn, .navbar-inverse .navbar-nav > li > a {
  color: #FFF; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #434A54;
  background-color: #FFF; }
.navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:hover, .navbar-inverse .btn-link[disabled]:focus, fieldset[disabled] .navbar-inverse .btn-link:focus, .navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:hover, .navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #a9b0ba;
  background-color: transparent; }
.navbar-inverse .navbar-toggle {
  border-color: #434A54;
  background-color: #434A54; }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  border-color: #5a6370;
  background-color: #5a6370; }
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #d3d7dc; }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #434A54; }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #FFF;
  background-color: #434A54; }
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #434A54; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .divider {
    background-color: #434A54; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #d3d7dc; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #434A54;
    background-color: #434A54; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    color: white; }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #a9b0ba; } }

/**
 * dropdown-menu
 * --------------------------------------------------
 */
.dropdown-menu {
  background-color: #FFF; }
  .dropdown-menu .dropdown-header {
    color: #AAB2BD; }
  .dropdown-menu li a {
    color: #434A54; }
  .dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
    color: #FFF;
    background-color: #434A54; }
  .dropdown-menu .disabled a, .dropdown-menu .disabled a:hover, .dropdown-menu .disabled a:focus {
    color: #CCD1D9; }
  .dropdown-menu .divider {
    background-color: #E6E9ED; }

/*# sourceMappingURL=bootflat.trans.css.map */
